* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./sections/sections-1";
@import "./sections/sections-2";
@import "./sections/sections-3";
@import "./sections/sections-4";
@import "./sections/sections-5";